body {
 margin:0px;
 padding: 0px;
 background-color: gray;
}

.headercontent {
background-color: pink;
font-family: cursive;
width: 100%;
height: auto;
margin: 0;
text-align: center;
}

.card {
 margin: 20px;
 background-color: pink;
 width: 200px;
 height: 200px;
 transition: all 0.6s ease;
 transform-style: preserve-3d;
}

.card:hover {
 transform: rotateY(180deg);
}

td {
  text-align: center;
}

tr {
  color: black;
}

a {
    color: pink;
}
